<div class="container mt-5 footer">
    <div class="alert alert-info hover-tk" role="alert">
        <h4 class="alert-heading">
            Một trong những lựa chọn hàng đầu của ở Đà Nẵng
        </h4>
        <p>
            Kỳ nghỉ sang trọng tại Furama Resort Danang sẽ mở đầu hành trình của du khách tới các di sản được UNESCO
            công nhận như Kinh thành Huế, cách resort 2 giờ lái xe. Các tiện nghi đẳng cấp thế giới như hồ bơi nước
            ngọt, spa và 4 lựa chọn ăn uống đang chờ đón du khách tại resort này.
        </p>
        <hr>
        <p class="mb-0">Hãy tận hưởng ngay hôm nay !</p>
    </div>
    <iframe class="hover-tk mt-5" width="1117" height="500" src="https://www.youtube.com/embed/3aHucOIM1ac" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="row mt-5">
        <div class="col-3">
            <div class="card text-white bg-info mb-3 hover-tk" style="max-width: 18rem;">
                <div class="card-header">ĐỘI NGŨ NHÂN VIÊN</div>
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 50px; font-weight: bold;">1000</h5>
                    <p class="card-text">
                        Đội ngũ nhân viên ưu tú được đào tạo bài bản luôn hết lòng vì khách hàng sẽ không khiến bạn thất vọng
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-danger mb-3 hover-tk" style="max-width: 18rem;">
                <div class="card-header">KHÁCH HÀNG ĐÃ GHÉ THĂM</div>
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 50px; font-weight: bold;">3994</h5>
                    <p class="card-text">
                        Đến một lần và sẽ còn quay lại dài dài bởi chúng tôi luôn để lại những kỉ niệm tốt đẹp nhất
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-primary mb-3 hover-tk" style="max-width: 18rem;">
                <div class="card-header">DỊCH VỤ CHẤT LƯỢNG</div>
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 50px; font-weight: bold;">140</h5>
                    <p class="card-text">Chúng tôi tự hào đem đến những dịch vụ phong phú, cao cấp nhất và chất lượng nhất</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-warning mb-3 hover-tk" style="max-width: 18rem;">
                <div class="card-header">HỢP ĐỒNG ƯU ĐÃI</div>
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 50px; font-weight: bold;">378</h5>
                    <p class="card-text">Liên kết với khách hàng cùng các chính sách ưu đãi hấp dẫn không thể cưỡng lại khi ghé thăm Furama Resort</p>
                </div>
            </div>
        </div>
    </div>
</div>